{% extends 'base.html' %}

{% block head%} 
<title>Home</title>
{%endblock%}


{% block body%} 
<br>
<h1>Home Page</h1>
<br>
<div>
  <div class="bg-light p-5 rounded">
	<div class="col-sm-8 mx-auto">
	  <h1>Welcome</h1>
	  <p>Welcome to the informtive blogs! Here we'll be talking about everything related to Computer Science. Basics, Frameworks, machine learning , other data science stuff, any new tech or findings, and more and pretty much anything computer science related.</p>
	  <p>Go visit us at our website <a href="https://www.cleverprogrammer.com">cleverprogrammer.com</a> to check out more cool stuffs beyond this blogs.</p>
	  <p>
		<a class="btn btn-primary" href="/posts" role="button">Go to posts &raquo;</a>
	  </p>
	</div>
  </div>
</div>
{%endblock%}
